body {
  background-color: #292929;
}

.recomandGamesContainer {
  --blue: #2049df;
  --background-white: #f5f5f5;
  --focus-ring-color: var(--blue);

  margin-top: 100px;
  margin-left: 100px;

  inline-size: 384px;
  block-size: 372px;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: var(--background-white);

  /* 큰 제목 노토산스 볼드 18px */
  .recomandGameHeader {
    display: flex;
    align-items: center;
    inline-size: 100%;
    block-size: 64px;

    a {
      display: flex;
      inline-size: 134px;
      block-size: 36px;
      border-radius: 100px;
      margin: 14px 10px;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;

      &:hover {
        background-color: var(--background-white);
      }
      &:focus {
        outline: 1px solid var(--focus-ring-color);
      }
      h1 {
        font-family: 'notosansBold', sans-serif;
        font-size: 18px;
        padding: 2px 6px;
      }
    }
  }

  .recomandGameMiddle {
    ul {
      height: 246px;
      display: flex;
      justify-content: center;
      column-gap: 1rem;
      li {
        a {
          &:hover {
            img {
              transform: scale(1.02);
            }
          }
          .gameImageWrap {
            position: relative;
            width: 160px;
            height: 172px;
            border-radius: 8px;
            overflow: hidden;

            .gameImage {
              position: absolute;
              background-position: bottom;
              background-repeat: no-repeat;
              background-size: cover;
              inline-size: 160px;
              block-size: 160px;
              border-radius: 0.5rem;
              bottom: 0;
              img {
                position: absolute;
                bottom: 0;
                display: block;
                width: 160px;
                height: 172px;
                transition: all 0.3s;
              }
            }
          }

          .gameTitle {
            font-family: 'notosansBold', sans-serif;
            margin-top: 8px;
            letter-spacing: -0.02em;
            line-height: 15px;
          }

          .gameDescription {
            font-family: 'notosansRegular', sans-serif;
            font-size: 14px;
            margin-top: 2px;
            line-height: 15px;

            letter-spacing: -0.01em;
          }

          .gameType {
            font-family: 'notosansLight', sans-serif;
            color: #0000007a;
            font-size: 14px;
            margin-top: 0.5rem;
            line-height: 18px;
            letter-spacing: -0.01em;
          }
        }
      }
    }
  }

  .pagenation {
    display: flex;
    bottom: 0;
    inline-size: 100%;
    block-size: 62px;
    align-items: center;
    justify-content: center;

    button {
      display: flex;
      background-color: var(--background-white);
      border: 1px solid hsl(0, 0%, 8%);
      justify-content: center;
      align-items: center;
      inline-size: 40px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: var(--background-white);
      }

      &:focus {
        outline: 1px solid var(--focus-ring-color);
      }
    }
  }
  .pageNumberWrap {
    margin-inline: 12px;
    font-family: 'notosansRegular', sans-serif;
    font-size: 18px;
    line-height: 20px;
  }

  .bg0 {
    background-image: url(../../img/배경-0.webp);
  }
  .bg1 {
    background-image: url(../../img/배경-1.webp);
  }
  .bg2 {
    background-image: url(../../img/배경-2.webp);
  }
  .bg3 {
    background-image: url(../../img/배경-3.webp);
  }
  .bg4 {
    background-image: url(../../img/배경-4.webp);
  }
  .bg5 {
    background-image: url(../../img/배경-5.webp);
  }
}
