@font-face {
  font-family: 'notosansBold';
  src: url('../../font/NotoSansKR-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'notosansLight';
  src: url('../../font/NotoSansKR-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'notosansRegular';
  src: url('../../font/NotoSansKR-Regular.ttf') format('truetype');
}
