.plan-form {
  .plan-title {
    text-align: center;
    text-transform: uppercase;
  }
  .plan-price {
    text-align: center;
  }
  .plan-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  .plan-card-container {
    position: relative;
    background-color: var(--white);
    width: 278px;
    height: 338px;
    padding: 40px 33px;
    border-radius: 1.25rem;
    border: 2px solid #f2f5f8;

    .plan-input {
      outline: 0;
    }

    .check-mark {
      /* display: none; */
      position: absolute;
      width: 28px;
      inset: 0;
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
    }

    .plan-feature-list {
      .plan-feature {
        list-style-type: none;
        background: url('../../image/icon-check.svg') 7px 7.5px no-repeat;
        padding-left: calc(1rem + 5.5px);
        margin-block-end: 1rem;

        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1%;
      }
    }
  }
}
