* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  inline-size: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../image/background.jpg) no-repeat top / cover;

  main {
    margin-block-start: 10%;
    border: 1px solid #888888;
    background-color: rgba(255, 255, 255, 0.637);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 12px black;

    h1 {
      margin-block-end: 1.5em;
    }
  }
}
