.account-info-card {
  width: 510px;
  height: 132px;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 16px;
  padding: 1rem 0.5rem;
  margin-bottom: 1px;
  background-color: white;

  .account-title {
    color: #808080;
    font-weight: 700;
    font-style: Bold;
    font-size: 13px;
    letter-spacing: 2%;
    vertical-align: middle;
  }

  .account-number {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 4%;
    vertical-align: middle;
    margin-top: 12px;
  }

  .principal {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 4%;
    vertical-align: middle;
    color: #2b78ed;
    margin-top: 14px;
  }
}
