.recomandGamesContainer {
  inline-size: 384px;
  block-size: 372px;
  border-radius: 16px;
  border: 1px solid black;
}

/* 큰 제목 노토산스 볼드 18px */
.recomand-game-header {
  display: flex;
  align-items: center;
  inline-size: 100%;
  block-size: 64px;
  /* white-space: nowrap; */

  a {
    display: flex;
    inline-size: 134px;
    block-size: 36px;
    border-radius: 100px;
    margin: 14px 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      background-color: #f5f5f5;
    }
    h1 {
      font-family: 'notosansBold', sans-serif;
      font-size: 18px;
      padding: 2px 6px;
    }
  }
}
