.tab-container {
  --tab-width: 568px;
  --blue-color: #055fea;
  width: var(--tab-width);
  border-radius: 1rem;
  overflow: hidden;

  button {
    position: relative;
    --gray: #d9d9d9;
    --off-tab-color: var(--gray);

    width: calc(var(--tab-width) / 4);
    height: 73px;
    padding: 0.5rem 7px 7px 7px;
    border: none;
    background-color: white;
    outline: none;

    &.active {
      &.tab-wrap {
        .tab-icon path {
          fill: var(--blue-color);
        }

        .tab-title {
          color: var(--blue-color);
        }
      }
      &::after {
        content: '';
        position: absolute;
        inset: auto 0 0 0;
        width: 100%;
        height: 3px;
        background-color: var(--blue-color);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    }

    &:hover {
      background-color: #f6f8fe;
    }

    &:focus-visible .tab-wrap {
      border: 1.5px dashed var(--blue-color);
      border-radius: 0.5rem;
    }

    .tab-icon path {
      fill: var(--off-tab-color);
    }
    .tab-title {
      margin-top: 7px;
      font-size: 14px;
      color: var(--off-tab-color);
    }
  }

  .tab-content-container {
    background-color: white;
    width: var(--tab-width);
    padding: 32px 29px 55px 29px;

    .tab-content-title {
      font-weight: 700;
      font-style: Bold;
      font-size: 18px;
      letter-spacing: 2%;
      vertical-align: middle;
    }
  }
}
