<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>account info component</title>
    <link rel="stylesheet" href="../asset/css/common.css" />
    <link rel="stylesheet" href="../asset/css/tab.css" />
    <link rel="stylesheet" href="../asset/css/tab-nav.css" />
    <link rel="stylesheet" href="../asset/css/account-info.css" />
    <script defer src="./scripts/tab.js"></script>
    <script defer src="./scripts/readMoney.js"></script>
  </head>
  <body>
      <div class="account-info-content">
       
        <dl class="account-info-card">
          <dt class="account-title">입출금 계좌</dt>
          <dd class="account-number" data-type="계좌번호">123-456-1237312</dd>
          <dt class="sr-only">원금</dt>
          <dd class="principal" data-type="원금">12,345,678 원</dd>
        </dl>
      </div>
    </div>
  </body>
</html>
