<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tab-nav component</title>
    <link rel="stylesheet" href="./asset/css/common.css" />
    <link rel="stylesheet" href="./asset/css/tab.css" />
    <link rel="stylesheet" href="./asset/css/tab-nav.css" />
    <link rel="stylesheet" href="./asset/css/account-info.css" />
    <link rel="stylesheet" href="./asset/css/recent-transaction.css" />
    <link rel="stylesheet" href="./asset/css/investment-portfolio.css" />
    <link rel="stylesheet" href="./asset/css/card.css" />
    <script defer src="./scripts/tab.js"></script>
    <script defer src="./scripts/readMoney.js"></script>
  </head>
  <body>
      <div class="card-content">
        <dl class="card-card">
          <div>
            <dt class="sr-only">카드이름</dt>
            <dd class="card-name" data-type="카드 이름">신한카드</dd>
            <dt class="sr-only">카드 넘버</dt>
            <dd class="card-number" data-type="카드 넘버">1234 5678 9012 3456</dd>
            <dt class="card-price-title">이번 달 사용액</dt>
            <dd class="card-price" data-type="이번 달 사용액">1,234,560 원</dd>
          </div>

          <div>
            <dt class="sr-only">카드 종류</dt>
            <dd class="card-kind" data-type="카드 종류">VISA</dd>
          </div>
        </dl>
      </div>
    </div>
  </body>
</html>
